#dashboard-wrapper {
/*    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: calc(100% - 75px);*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 50px;
}

#dashboard-menu {
/*    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
/*    background: black;
    background: #e7e7e7;
    background: #f8f8f8;*/
    /*color:#FFF;*/
    overflow:auto;
}


#dashboard-content {
/*    position: absolute;
    top: 15px;
    left: 300px;
    width: calc(100% - 300px);
    height: calc(100% - 15px);*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow:auto;
}

#avatar {
    height:200px;
    overflow:hidden;
    margin-bottom:4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding:4px;
    border: #FFF 4px solid;
    border-radius:4px;
    background-size:cover;
    background-position: center center;
}

#avatar img {
    margin:auto;
}

.table-sortable {
    position: relative;
}
.table-sortable .sortable-placeholder {
    height: 37px;
}
.table-sortable .sortable-placeholder:after {
    position: absolute;
    z-index: 10;
    content: " ";
    height: 37px;
    background: #f9f9f9;
    left: 0;
    right: 0;
}

.btn-outline {
    background:none;
}

.btn-outline:hover {
    color:#FFF !important;
}

.btn-success.btn-outline {
    color:#4cae4c;
}

.btn-success.btn-outline {
    color:#4cae4c;
}

.btn-primary.btn-outline {
    color:#204d74;
}

.btn-info.btn-outline {
    color:#269abc;
}

.btn-warning.btn-outline {
    color:#d58512;
}

.btn-dangers.btn-outline {
    color:#d43f3a;
}

.new-message textarea {
    height:300px;
}

#results .row:not(.hidden):last-child {
    margin-bottom:20px;
}


.image-circle{
    border-radius: 50%;
    width: 175px;
    height: 175px;
    border: 4px solid #FFF;
    margin: 10px;
}

.panel-user {
    background: #FFF;
    border: none;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
}

.user-avatar {
    max-width: 175px;
    height: 175px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    display: block;
    background-color:#FFF;
}

.user-wallpaper {
    background-size: cover;
    background-position: center center;
    min-height: 200px;
    margin-bottom: 20px;
    padding: 20px;
}    

.user-wallpaper .user-wallpaper {
    background: none !important;
}    

.post-content {
    min-height: 200px
}